.elevation__container {
  width: 100%;
  padding: 30px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.elevation__container > div {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  max-width: 550px;
  flex-wrap: wrap;
}

.elevation__container__title {
  margin: 0 0 20px;
  font-size: 1.25rem;
  font-weight: 400;
}

.elevation__item__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.elevation__outer__box {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elevation__inner__box {
  height: 115px;
  width: 115px;
  border-radius: 4px;
  background-color: #FFF;
}
