*.spec.tsx.snap
.github
.netlify
.stryker-tmp
coverage
dist
docs
lcov-report
node_modules
packages/*/.stryker-tmp
packages/*/coverage
packages/*/dist
packages/*/docs
packages/*/node_modules
packages/*/reports
packages/*/storybook-static
package.json
releases
reports
scripts/lint-staged.sh
storybook-static
yarn-error.log

# always lint storybook config files
!packages/web/.storybook
