/**
 * @tokens Colors | 01. Primary
 * @presenter Color
 */
:root {
  --primary-800-default: #F4AB34;
}

/**
 * @tokens Colors | 02. Primary variants
 * @presenter Color
 */

:root {
  --primary-50-light: #FEFDE8;
  --primary-100: #FDF9C7;
  --primary-200: #FDF5A2;
  --primary-300: #FBF17D;
  --primary-400: #F9EC61;
  --primary-500: #F6E746;
  --primary-600: #F9DA45;
  --primary-700: #F7C23D;
  --primary-900-dark: #EF8426;
}

/**
 * @tokens Colors | 03. Secondary
 * @presenter Color
 */

:root {
  --secondary-900-default: #FF6B0B;
}

/**
 * @tokens Colors | 04. Secondary variants
 * @presenter Color
 */

:root {
  --secondary-50-light: #FFF8E1;
  --secondary-100: #FFEBB3;
  --secondary-200: #FFDF82;
  --secondary-300: #FFD350;
  --secondary-400: #FFC82A;
  --secondary-500: #FFBF0E;
  --secondary-600: #FFB109;
  --secondary-700: #FF9E0A;
  --secondary-800: #FF8D0A;
}

/**
 * @tokens Colors | 05. Surface and Background
 * @presenter Color
 */

:root {
  --white: #FFFFFF;
  --light: #FAFAFA;
  --dark: #EEEEEE;
}

/**
 * @tokens Colors | 06. Content
 * @presenter Color
 */

:root {
  --black: #000000;
  --gray-primary: #333333;
  --gray-secondary: #777777;
  --gray-tertiary: #BBBBBB;
  --info: #227BBD;
}

/**
 * @tokens Colors | 07. Feedback
 * @presenter Color
 */

:root {
  --success: #569A32;
  --warning: #FCC433;
  --error: #E74627;
}

/**
 * @tokens Colors | 08. Levels CN
 * @presenter Color
 */

:root {
  --level-bronze: #C47F5B;
  --level-diamond: #AEC2CE;
  --level-gold: #D8B75E;
  --level-seed: #7B6A58;
  --level-silver: #9D9D9C;
}

/**
 * @tokens Colors | 09. Natura Brand - Primary
 * @presenter Color
 */

:root {
  --brand-primary-brow: #513528;
  --brand-primary-orange: #FF6B0B;
  --brand-primary-800-default: #F4AB34;
  --white: #ffffff;
}

/**
 * @tokens Colors | 10. Natura Brand - Secondary
 * @presenter Color
 */

:root {
  --brand-secondary-blue: #71CACD;
  --brand-secondary-green: #B3CA36;
  --brand-secondary-purple: #7080A0;
  --brand-secondary-yellow: #FFBA1B;
}

/**
 * @tokens Colors | 11. Natura Brand - Complement
 * @presenter Color
 */

:root {
  --brand-comp-purple-1: #572A86;
  --brand-comp-purple-2: #472784;
  --brand-comp-purple-3: #53619E;
  --brand-comp-purple-4: #8E96A9;
  --brand-comp-blue-1: #227BBD;
  --brand-comp-blue-2: #6BB1E2;
  --brand-comp-blue-3: #54BECF;
  --brand-comp-blue-4: #7FCCE0;
  --brand-comp-green-1: #569A32;
  --brand-comp-green-2: #8EBE2F;
  --brand-comp-green-3: #C2CD00;
  --brand-comp-green-4: #BEC950;
  --brand-comp-yellow-1: #CCB619;
  --brand-comp-yellow-2: #E7CE22;
  --brand-comp-yellow-3: #E7CE22;
  --brand-comp-yellow-4: #FFE61B;
  --brand-comp-orange-1: #E8530E;
  --brand-comp-orange-2: #EE7D00;
  --brand-comp-orange-3: #F49B00;
  --brand-comp-orange-4: #FCC433;
  --brand-comp-red-1: #DC0719;
  --brand-comp-red-2: #E74627;
  --brand-comp-red-3: #ED743E;
  --brand-comp-red-4: #F29669;
}
