@font-face {
  font-family: "natds-icons";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("./fonts/natds-icons.eot");
  src: url("./fonts/natds-icons.eot?#iefix") format("embedded-opentype"), url("./fonts/natds-icons.woff2") format("woff2"), url("./fonts/natds-icons.woff") format("woff"), url("./fonts/natds-icons.ttf") format("truetype"), url("./fonts/natds-icons.svg#natds-icons") format("svg");
}

.natds-icons {
  display: inline-block;
  font-family: "natds-icons";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.natds-icons-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.natds-icons-xs {
  font-size: 0.75em;
}

.natds-icons-sm {
  font-size: 0.875em;
}

.natds-icons-1x {
  font-size: 1em;
}

.natds-icons-2x {
  font-size: 2em;
}

.natds-icons-3x {
  font-size: 3em;
}

.natds-icons-4x {
  font-size: 4em;
}

.natds-icons-5x {
  font-size: 5em;
}

.natds-icons-6x {
  font-size: 6em;
}

.natds-icons-7x {
  font-size: 7em;
}

.natds-icons-8x {
  font-size: 8em;
}

.natds-icons-9x {
  font-size: 9em;
}

.natds-icons-10x {
  font-size: 10em;
}

.natds-icons-fw {
  text-align: center;
  width: 1.25em;
}

.natds-icons-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.natds-icons-pull-left {
  float: left;
}

.natds-icons-pull-right {
  float: right;
}

.natds-icons.natds-icons-pull-left {
  margin-right: 0.3em;
}

.natds-icons.natds-icons-pull-right {
  margin-left: 0.3em;
}


.natds-icons-filled-action-add::before {
  content: "\ea01";
}

.natds-icons-filled-action-cancel::before {
  content: "\ea02";
}

.natds-icons-filled-action-check::before {
  content: "\ea03";
}

.natds-icons-filled-action-delete::before {
  content: "\ea04";
}

.natds-icons-filled-action-love::before {
  content: "\ea05";
}

.natds-icons-filled-action-newrequest::before {
  content: "\ea06";
}

.natds-icons-filled-action-rating::before {
  content: "\ea07";
}

.natds-icons-filled-action-subtract::before {
  content: "\ea08";
}

.natds-icons-filled-brand-facebook::before {
  content: "\ea09";
}

.natds-icons-filled-brand-google::before {
  content: "\ea0a";
}

.natds-icons-filled-brand-instagram::before {
  content: "\ea0b";
}

.natds-icons-filled-brand-linkedin::before {
  content: "\ea0c";
}

.natds-icons-filled-brand-naturarosacea::before {
  content: "\ea0d";
}

.natds-icons-filled-brand-pinterest::before {
  content: "\ea0e";
}

.natds-icons-filled-brand-spotify::before {
  content: "\ea0f";
}

.natds-icons-filled-brand-twitter::before {
  content: "\ea10";
}

.natds-icons-filled-brand-whatsapp::before {
  content: "\ea11";
}

.natds-icons-filled-brand-youtube::before {
  content: "\ea12";
}

.natds-icons-filled-content-channel::before {
  content: "\ea13";
}

.natds-icons-filled-content-divulgation::before {
  content: "\ea14";
}

.natds-icons-filled-content-quote::before {
  content: "\ea15";
}

.natds-icons-filled-default-mockup::before {
  content: "\ea16";
}

.natds-icons-filled-finance-charging::before {
  content: "\ea17";
}

.natds-icons-filled-finance-paymentlink::before {
  content: "\ea18";
}

.natds-icons-filled-media-pause::before {
  content: "\ea19";
}

.natds-icons-filled-media-play::before {
  content: "\ea1a";
}

.natds-icons-filled-media-stop::before {
  content: "\ea1b";
}

.natds-icons-filled-navigation-arrowbottom::before {
  content: "\ea1c";
}

.natds-icons-filled-navigation-arrowleft::before {
  content: "\ea1d";
}

.natds-icons-filled-navigation-arrowright::before {
  content: "\ea1e";
}

.natds-icons-filled-navigation-arrowtop::before {
  content: "\ea1f";
}

.natds-icons-filled-navigation-directionleft::before {
  content: "\ea20";
}

.natds-icons-filled-navigation-directionright::before {
  content: "\ea21";
}

.natds-icons-filled-navigation-directiontbottom::before {
  content: "\ea22";
}

.natds-icons-filled-navigation-directiontop::before {
  content: "\ea23";
}

.natds-icons-filled-navigation-menu::before {
  content: "\ea24";
}

.natds-icons-filled-navigation-more::before {
  content: "\ea25";
}

.natds-icons-filled-navigation-setbottom::before {
  content: "\ea26";
}

.natds-icons-filled-navigation-setleft::before {
  content: "\ea27";
}

.natds-icons-filled-navigation-setright::before {
  content: "\ea28";
}

.natds-icons-filled-navigation-settop::before {
  content: "\ea29";
}

.natds-icons-filled-product-brandsproduct::before {
  content: "\ea2a";
}

.natds-icons-filled-social-myprofile::before {
  content: "\ea2b";
}

.natds-icons-filled-toggle-indeterminatecheckbox::before {
  content: "\ea2c";
}

.natds-icons-outlined-action-add::before {
  content: "\ea2d";
}

.natds-icons-outlined-action-addproduct::before {
  content: "\ea2e";
}

.natds-icons-outlined-action-attachment::before {
  content: "\ea2f";
}

.natds-icons-outlined-action-autofilter::before {
  content: "\ea30";
}

.natds-icons-outlined-action-calendar::before {
  content: "\ea31";
}

.natds-icons-outlined-action-camerachange::before {
  content: "\ea32";
}

.natds-icons-outlined-action-cancel::before {
  content: "\ea33";
}

.natds-icons-outlined-action-change::before {
  content: "\ea34";
}

.natds-icons-outlined-action-check::before {
  content: "\ea35";
}

.natds-icons-outlined-action-clock::before {
  content: "\ea36";
}

.natds-icons-outlined-action-closedbox::before {
  content: "\ea37";
}

.natds-icons-outlined-action-copy::before {
  content: "\ea38";
}

.natds-icons-outlined-action-copylink::before {
  content: "\ea39";
}

.natds-icons-outlined-action-cycle::before {
  content: "\ea3a";
}

.natds-icons-outlined-action-delete::before {
  content: "\ea3b";
}

.natds-icons-outlined-action-done::before {
  content: "\ea3c";
}

.natds-icons-outlined-action-download::before {
  content: "\ea3d";
}

.natds-icons-outlined-action-edit::before {
  content: "\ea3e";
}

.natds-icons-outlined-action-favorite::before {
  content: "\ea3f";
}

.natds-icons-outlined-action-filter::before {
  content: "\ea40";
}

.natds-icons-outlined-action-gridsquare::before {
  content: "\ea41";
}

.natds-icons-outlined-action-help::before {
  content: "\ea42";
}

.natds-icons-outlined-action-history::before {
  content: "\ea43";
}

.natds-icons-outlined-action-lightoff::before {
  content: "\ea44";
}

.natds-icons-outlined-action-lighton::before {
  content: "\ea45";
}

.natds-icons-outlined-action-like::before {
  content: "\ea46";
}

.natds-icons-outlined-action-list::before {
  content: "\ea47";
}

.natds-icons-outlined-action-love::before {
  content: "\ea48";
}

.natds-icons-outlined-action-mic::before {
  content: "\ea49";
}

.natds-icons-outlined-action-micrec::before {
  content: "\ea4a";
}

.natds-icons-outlined-action-newregister::before {
  content: "\ea4b";
}

.natds-icons-outlined-action-newrequest::before {
  content: "\ea4c";
}

.natds-icons-outlined-action-order::before {
  content: "\ea4d";
}

.natds-icons-outlined-action-phone::before {
  content: "\ea4e";
}

.natds-icons-outlined-action-print::before {
  content: "\ea4f";
}

.natds-icons-outlined-action-qr::before {
  content: "\ea50";
}

.natds-icons-outlined-action-rating::before {
  content: "\ea51";
}

.natds-icons-outlined-action-recycle::before {
  content: "\ea52";
}

.natds-icons-outlined-action-request::before {
  content: "\ea53";
}

.natds-icons-outlined-action-runningclock::before {
  content: "\ea54";
}

.natds-icons-outlined-action-save::before {
  content: "\ea55";
}

.natds-icons-outlined-action-schedule::before {
  content: "\ea56";
}

.natds-icons-outlined-action-search::before {
  content: "\ea57";
}

.natds-icons-outlined-action-selectedalllines::before {
  content: "\ea58";
}

.natds-icons-outlined-action-send::before {
  content: "\ea59";
}

.natds-icons-outlined-action-settings::before {
  content: "\ea5a";
}

.natds-icons-outlined-action-share::before {
  content: "\ea5b";
}

.natds-icons-outlined-action-shareios::before {
  content: "\ea5c";
}

.natds-icons-outlined-action-subtract::before {
  content: "\ea5d";
}

.natds-icons-outlined-action-text::before {
  content: "\ea5e";
}

.natds-icons-outlined-action-update::before {
  content: "\ea5f";
}

.natds-icons-outlined-action-upload::before {
  content: "\ea60";
}

.natds-icons-outlined-action-visibility::before {
  content: "\ea61";
}

.natds-icons-outlined-action-visibilityoff::before {
  content: "\ea62";
}

.natds-icons-outlined-alert-cancel::before {
  content: "\ea63";
}

.natds-icons-outlined-alert-check::before {
  content: "\ea64";
}

.natds-icons-outlined-alert-empty::before {
  content: "\ea65";
}

.natds-icons-outlined-alert-indeterminate::before {
  content: "\ea66";
}

.natds-icons-outlined-alert-info::before {
  content: "\ea67";
}

.natds-icons-outlined-alert-notification::before {
  content: "\ea68";
}

.natds-icons-outlined-alert-warning::before {
  content: "\ea69";
}

.natds-icons-outlined-communication-chat::before {
  content: "\ea6a";
}

.natds-icons-outlined-communication-email::before {
  content: "\ea6b";
}

.natds-icons-outlined-communication-help::before {
  content: "\ea6c";
}

.natds-icons-outlined-communication-message::before {
  content: "\ea6d";
}

.natds-icons-outlined-communication-occurrence::before {
  content: "\ea6e";
}

.natds-icons-outlined-communication-phoneringing::before {
  content: "\ea6f";
}

.natds-icons-outlined-communication-readEmail::before {
  content: "\ea70";
}

.natds-icons-outlined-communication-signal::before {
  content: "\ea71";
}

.natds-icons-outlined-communication-speaker::before {
  content: "\ea72";
}

.natds-icons-outlined-communication-treatment::before {
  content: "\ea73";
}

.natds-icons-outlined-content-adddocument::before {
  content: "\ea74";
}

.natds-icons-outlined-content-agility::before {
  content: "\ea75";
}

.natds-icons-outlined-content-bellringing::before {
  content: "\ea76";
}

.natds-icons-outlined-content-book::before {
  content: "\ea77";
}

.natds-icons-outlined-content-brightness::before {
  content: "\ea78";
}

.natds-icons-outlined-content-changeview::before {
  content: "\ea79";
}

.natds-icons-outlined-content-channel::before {
  content: "\ea7a";
}

.natds-icons-outlined-content-christmascard::before {
  content: "\ea7b";
}

.natds-icons-outlined-content-consistency::before {
  content: "\ea7c";
}

.natds-icons-outlined-content-divulgation::before {
  content: "\ea7d";
}

.natds-icons-outlined-content-education::before {
  content: "\ea7e";
}

.natds-icons-outlined-content-exchangereports::before {
  content: "\ea7f";
}

.natds-icons-outlined-content-gallery::before {
  content: "\ea80";
}

.natds-icons-outlined-content-gift::before {
  content: "\ea81";
}

.natds-icons-outlined-content-global::before {
  content: "\ea82";
}

.natds-icons-outlined-content-handglobal::before {
  content: "\ea83";
}

.natds-icons-outlined-content-hands::before {
  content: "\ea84";
}

.natds-icons-outlined-content-health::before {
  content: "\ea85";
}

.natds-icons-outlined-content-healthy::before {
  content: "\ea86";
}

.natds-icons-outlined-content-indicator::before {
  content: "\ea87";
}

.natds-icons-outlined-content-itemlist::before {
  content: "\ea88";
}

.natds-icons-outlined-content-lifebuoy::before {
  content: "\ea89";
}

.natds-icons-outlined-content-lock::before {
  content: "\ea8a";
}

.natds-icons-outlined-content-magic::before {
  content: "\ea8b";
}

.natds-icons-outlined-content-medal::before {
  content: "\ea8c";
}

.natds-icons-outlined-content-menu::before {
  content: "\ea8d";
}

.natds-icons-outlined-content-mirror::before {
  content: "\ea8e";
}

.natds-icons-outlined-content-password::before {
  content: "\ea8f";
}

.natds-icons-outlined-content-planb::before {
  content: "\ea90";
}

.natds-icons-outlined-content-produtivity::before {
  content: "\ea91";
}

.natds-icons-outlined-content-report::before {
  content: "\ea92";
}

.natds-icons-outlined-content-store::before {
  content: "\ea93";
}

.natds-icons-outlined-content-wellness::before {
  content: "\ea94";
}

.natds-icons-outlined-content-wifi::before {
  content: "\ea95";
}

.natds-icons-outlined-default-mockup::before {
  content: "\ea96";
}

.natds-icons-outlined-finance-bag::before {
  content: "\ea97";
}

.natds-icons-outlined-finance-bank::before {
  content: "\ea98";
}

.natds-icons-outlined-finance-cards::before {
  content: "\ea99";
}

.natds-icons-outlined-finance-charging::before {
  content: "\ea9a";
}

.natds-icons-outlined-finance-creditcard::before {
  content: "\ea9b";
}

.natds-icons-outlined-finance-debit::before {
  content: "\ea9c";
}

.natds-icons-outlined-finance-discount::before {
  content: "\ea9d";
}

.natds-icons-outlined-finance-idcard::before {
  content: "\ea9e";
}

.natds-icons-outlined-finance-littlemachine::before {
  content: "\ea9f";
}

.natds-icons-outlined-finance-money::before {
  content: "\eaa0";
}

.natds-icons-outlined-finance-moneypaper::before {
  content: "\eaa1";
}

.natds-icons-outlined-finance-paid::before {
  content: "\eaa2";
}

.natds-icons-outlined-finance-paymentlink::before {
  content: "\eaa3";
}

.natds-icons-outlined-finance-payreference::before {
  content: "\eaa4";
}

.natds-icons-outlined-finance-promotion::before {
  content: "\eaa5";
}

.natds-icons-outlined-finance-shoppingcart::before {
  content: "\eaa6";
}

.natds-icons-outlined-finance-shoppingcartproduct::before {
  content: "\eaa7";
}

.natds-icons-outlined-finance-suitcase::before {
  content: "\eaa8";
}

.natds-icons-outlined-finance-tagdiscount::before {
  content: "\eaa9";
}

.natds-icons-outlined-finance-transfermoney::before {
  content: "\eaaa";
}

.natds-icons-outlined-media-app::before {
  content: "\eaab";
}

.natds-icons-outlined-media-camera::before {
  content: "\eaac";
}

.natds-icons-outlined-media-monitor::before {
  content: "\eaad";
}

.natds-icons-outlined-media-play::before {
  content: "\eaae";
}

.natds-icons-outlined-navigation-arrowbottom::before {
  content: "\eaaf";
}

.natds-icons-outlined-navigation-arrowleft::before {
  content: "\eab0";
}

.natds-icons-outlined-navigation-arrowright::before {
  content: "\eab1";
}

.natds-icons-outlined-navigation-arrowtop::before {
  content: "\eab2";
}

.natds-icons-outlined-navigation-close::before {
  content: "\eab3";
}

.natds-icons-outlined-navigation-directionbottom::before {
  content: "\eab4";
}

.natds-icons-outlined-navigation-directionleft::before {
  content: "\eab5";
}

.natds-icons-outlined-navigation-directionright::before {
  content: "\eab6";
}

.natds-icons-outlined-navigation-directiontop::before {
  content: "\eab7";
}

.natds-icons-outlined-navigation-exit::before {
  content: "\eab8";
}

.natds-icons-outlined-navigation-goback::before {
  content: "\eab9";
}

.natds-icons-outlined-navigation-gofront::before {
  content: "\eaba";
}

.natds-icons-outlined-navigation-home::before {
  content: "\eabb";
}

.natds-icons-outlined-navigation-menu::before {
  content: "\eabc";
}

.natds-icons-outlined-place-bus::before {
  content: "\eabd";
}

.natds-icons-outlined-place-forklift::before {
  content: "\eabe";
}

.natds-icons-outlined-place-gps::before {
  content: "\eabf";
}

.natds-icons-outlined-place-local::before {
  content: "\eac0";
}

.natds-icons-outlined-place-rocket::before {
  content: "\eac1";
}

.natds-icons-outlined-place-runningtruck::before {
  content: "\eac2";
}

.natds-icons-outlined-place-truck::before {
  content: "\eac3";
}

.natds-icons-outlined-place-waze::before {
  content: "\eac4";
}

.natds-icons-outlined-product-accessories::before {
  content: "\eac5";
}

.natds-icons-outlined-product-bagproduct::before {
  content: "\eac6";
}

.natds-icons-outlined-product-beard::before {
  content: "\eac7";
}

.natds-icons-outlined-product-brandsproduct::before {
  content: "\eac8";
}

.natds-icons-outlined-product-childish::before {
  content: "\eac9";
}

.natds-icons-outlined-product-dailycare::before {
  content: "\eaca";
}

.natds-icons-outlined-product-ekos::before {
  content: "\eacb";
}

.natds-icons-outlined-product-erlenmeyer::before {
  content: "\eacc";
}

.natds-icons-outlined-product-face::before {
  content: "\eacd";
}

.natds-icons-outlined-product-hair::before {
  content: "\eace";
}

.natds-icons-outlined-product-makeup::before {
  content: "\eacf";
}

.natds-icons-outlined-product-outlet::before {
  content: "\ead0";
}

.natds-icons-outlined-product-perfumery::before {
  content: "\ead1";
}

.natds-icons-outlined-product-promotionproduct::before {
  content: "\ead2";
}

.natds-icons-outlined-product-scent::before {
  content: "\ead3";
}

.natds-icons-outlined-product-vegan::before {
  content: "\ead4";
}

.natds-icons-outlined-social-addcontact::before {
  content: "\ead5";
}

.natds-icons-outlined-social-birthday::before {
  content: "\ead6";
}

.natds-icons-outlined-social-collaborate::before {
  content: "\ead7";
}

.natds-icons-outlined-social-contact::before {
  content: "\ead8";
}

.natds-icons-outlined-social-digitalconsultant::before {
  content: "\ead9";
}

.natds-icons-outlined-social-groupofpeople::before {
  content: "\eada";
}

.natds-icons-outlined-social-myprofile::before {
  content: "\eadb";
}

.natds-icons-outlined-social-network::before {
  content: "\eadc";
}

.natds-icons-outlined-social-person::before {
  content: "\eadd";
}

