.mobile__text__field__container {
  display: flex;
  flex-grow: 1;
  max-width: 360px;
}

.mobile__text__field__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 360px;
}

.mobile__text__field__wrapper > div {
  margin-bottom: 40px;
}

.mobile__text__field__wrapper > div:last-child {
  margin-bottom: auto;
}

.mobile__text__field__container input {
  outline: none;
}

.mobile__text__field__container textarea {
  outline: none;
}
