.sizes__scale {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  display: flex;
  flex-flow: column wrap;
  padding: 30px;
}

.sizes__scale__block {
  background: #eee;
  flex: 1 1 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin: 1px;
}

.sizes__scale__box__container {
  flex: 0 0 50%;
}

.sizes__scale__box {
  background: #bbb;
  height: 50px;
  margin-right: 20px;
}

.sizes__scale__name {
  font-size: 1rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  align-self: center;
  color: #333;
  flex: 0 0 auto;
  padding: 0 10px;
  margin: 0;
}
