<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Design System Web for Single SPA Root Example App</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap" src="https://storage.googleapis.com/react.microfrontends.app/importmap.json"></script>
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
        {
            "imports": {
                "@natura-cosmeticos/single-spa-root-config-example": "//localhost:9000/react-mf-root-config.js"
            }
        }
    </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
    <template id="single-spa-layout">
        <single-spa-router>
            <nav class="topnav">
                <application name="@natura-cosmeticos/single-spa-navbar-example"></application>
            </nav>
            <main class="main-content">
                <route default>
                    <p>
                        This example project shows independently built and deployed micro frontends that use React and single-spa.<br />
                        Each link above takes you to a different micro frontend.
                    </p>
                </route>
            </main>
        </single-spa-router>
    </template>
</head>
<body>
    <script>
        System.import('@natura-cosmeticos/single-spa-root-config-example');
    </script>
    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
