.component__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.component__item {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding: 20px 40px 20px 0;
}

.component__item__title {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #227BBD;
  margin: 0 0 20px;
}
