.colors {
  font-weight: 400;
  line-height: 1.5;
  max-width: 800px;
}

.colors__container {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
}

.colors__group {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  margin-bottom: 30px;
}

.colors__group__title {
  border-bottom: rgba(0, 0, 0, .2) solid 1px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #555;
  flex: 0 0 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.colors__group__list {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.colors__item {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  flex-flow: column;
  padding: 0;
  margin: 0 15px 15px 0;
}

.colors__item__color {
  width: 170px;
  height: 170px;
}

.colors__item__color-name,
.colors__item__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.colors__item__name {
  color: #888;
}
