.typography__story__container {
  display: flex;
  flex-direction: column;
}

.typography__story__item {
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.typography__mobile__story__bordered {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 10px;
  width: 700px;
}

.typography__mobile__story__bordered > div {
  display: block;
}
