.theme {
  font-weight: 400;
  line-height: 1.5;
  max-width: 800px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #555;
  margin: 30px;
}

.theme__item {
  max-width: 600px;
  border-bottom: rgba(0,0,0,.1) 1px solid;
  display: flex;
  align-items: center;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

.theme__name {
  flex: 2 0 auto;
  font-size: 18px;
  text-transform: capitalize;
  padding: 0;
}

.theme__button {
  background: rgba(0,0,0,.3);
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  padding: 7px 14px;
  margin: 0 10px 0 0;
}

.theme__button:hover {
  background: rgba(0,0,0,.2);
}

.theme__button:active {
  background: rgba(0,0,0,.25);
}

.theme__button--selected,
.theme__button--selected:hover {
  background: rgba(0,0,0,.6);
  cursor: default;
}
